.barbers{
    background-image: url('../img/Barbers.jpg');
    background-size: cover;
    background-attachment: fixed;
    top: -101%;
    transition: .3s all linear;
    &._active{
        transition: .3s all linear;
        top: 0;
    }
    &._active{
        top: 0;
    }
    .exit{
        position: absolute;
        top: 25px;
        left: 41px;
    }
    &__card{
        display: flex;
        align-items: center;
        max-width: 1208px;
        margin: 0 auto;
        justify-content: space-between;
    }
    &__item{
        padding: 35px 0;
        &:first-child{
            padding-top: 0;
        }
        border-bottom: 2px solid $ColorText;
    }
    &__left{
        display: flex;
        align-items: center;
        img{
            border-radius: 50%;
            margin-right: 40px;
        }
    }
}
@media (max-width:664px) {
    .barbers{
        &__card{
            flex-direction: column;
        }
        &__left{
            & img{
                margin: 0 auto;
                margin-bottom: 10px;
            }
            flex-direction: column;
            
        }
        &__btn{
            margin-top: 15px;
        }
    }
}