#contact{
    right: -101%;
    transition: .3s all ease;
    &._active{
        right: 0;
    }
    background-image: url("../img/Contacts.jpg");
    .contact{       
        &-bottom{
            max-width: 846px;
            & h5{
                max-width: 609px;
                text-align: center;
                text-transform: uppercase;
                font-size: 30px;
            }
            & a{
                text-transform: uppercase;
                display: flex;
                align-items: center;
                font-size: 30px;
                font-size: 20px;
                overflow-wrap: anywhere;
                & img{
                    margin-right: 15px;
                    width: 34px;
                    height: 34px;
                }
                &:not(:last-child){
                    margin-bottom: 15px;
                }
            }
        }
        &__container{
            max-width: 1234px;
        }
        &__item{
            &:nth-child(0){
                text-align: center;
            }
            &:not(:last-child){
                margin-bottom: 112px;
            }
            & h5{
                font-size: 30px;
            }
        }
        &__phones{
            display: flex;
            align-items: center;
            gap: 23px;
            & div a{
                display: block;
                margin-bottom: 13px;
            }
            & img{
                width: 49px;
                height: 37px;
            }
        }
        &__logo{
            max-width: 408px;
            height: auto;
            overflow: hidden;
            & img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        &__desc{
            max-width: 609px;
            text-transform: uppercase;
            .address{
                text-align: center;
            }
            .call{
                h5{
                    text-align: center;
                }
            }
        }
        &-top{
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }
}
@media (max-width:1046px) {
    .contact{
        padding-top: 50px;
        &-top{
            flex-direction: column;

        }
        &__logo{
            margin-top: 15px;
        }
    }
}