section{
    min-height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:top center;
    display: flex;
    padding-top: 40px;
    gap: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.intro{
    background-image: url('../img/bg/intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 140px;
    &__container{
        margin-bottom: 50px;
    }
    &__title{
        max-width: 752px;
        margin-bottom: 40px;
    }
    
}